@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: dimgray;
    padding: 100px;
    font-size: 14px;
    color: #151515;
}
/* ======================== */

head{
    text-align: right;
}

.tally{
    background-color: blue;
}

main{
    color: white;
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 960px; /*Limits the width of the container but let's it get smaller if needed.*/
    margin: 0 auto; /*Center the container horizontally in the middle of the page.*/
    padding: 12px;
}

section{
    color: white;

}


.navbar{
    display: flex;
    position: fixed top 0;
    flex-wrap: wrap; /*Allows the children inside a flex container to wrap down onto the next line if there is not enough space.*/
    align-items: center; /*Centers the children of a flex container vertically.*/
    justify-content: space-between; /*Adds space between each child of a flex container.*/
    background-color: #fff;
    padding-block: 15px; /*Padding top and bottom*/
}

.navbar{
    position: sticky;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: inherit; /*Inherits the same color as the parent element or grandparent (the body) unless you set the color to the navbar.*/
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 20px; /*Applies right and bottom spacing between children inside a flex or grid container.*/
}
#toggler,
.navbar label{
    display: none;/*Hide the checkbox and label on large screens.*/
}
/*Breakpoint set at 600px, once it is 600px or smaller the layout changes to use the following styles overriding the old ones.*/
@media screen and 
(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0; /*Makes the max-height 0 to side the expanded menu.*/
        overflow: hidden; /*Hides the overflowing content.*/
    }
    .list{
        flex-direction: column; /*Chances the direction of the flex container. By default it is a row so we change it to column in small screens.*/
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex; /*Makes it an inline flex container for the icon. Used for centering the icon inside this box.*/
        align-items: center;
        cursor: pointer;
    }
    /* 
        The general sibling selector (~) selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% to show the menu.
    */
    #toggler:checked ~ .menu{
        max-height: 100%;
 text-decoration: underline;


    }
}

.button{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid 
    #3c67e3;
    border-radius: 10px;
    text-decoration: inherit;
    padding-left: 50px;
    padding-right: 40px;

}

.emoji {
    text-align: center;
    font-size: 70px;
    padding-bottom: -13px;
}

.button:hover{
    animation: pulsate 1s 
    ease-in-out; /*The pulsate animation is added on hover. You could also add this on .button:focus and it will add it when clicking the button as well.*/
}

@keyframes pulsate {
    /* 
        Here we have two shadows. You can add as many as you want by using different offset values as long as you separate it with a comma.
        The values are as follow: offset-x | offset-y | blur-radius | color
    */
    0%{
        box-shadow: 
        0 0 10px #5ddcff,
        0 0 15px #4e00c2;
    }
}


main{
    background-color: #337CB2;
    padding: 40px;
    margin-right: 0;
    margin-left: 0;
    border-radius: 15px;

}


.blockquote{
    max-width: 600px;
    margin: 10px 30px;
    padding: 25px;
    background-color: white;
    border: 1px solid #337CB2;
    color: black;
    box-sizing: border-box;
    font-family: serif;
    font-style: italic;
font-size: 1.15em;

}

.blockquote--bordered{
    border-left-width: 10px;
}

.blockquote__text--credit{
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.blockquote__text--credit:before {
    content: "\2014\0020";
}

.blockquote--quoted::before{
    content: "\201c";
    font-size: 100px;
    color: #337CB2;
    display: block;
    margin-top: -20px;
    margin-bottom: -40px;
}

.blockquote:hover{
    color: #3c67e3;
}

.container:hover{
    color: #337CB2;
}

footer{
    background-color: #337CB2;padding-bottom: 20px;
    text-align: center;
    color: white;

}



.timing{

text-anchor: center;
justify-content: safe left;

}

section{
    background-color: #337CB2 ;
    padding: 20px;
    margin: 0;
    border-style: groove;
    border-bottom: none;
}

.quote_title{
    color: black;
}

.button{
    background-color: white;
}

button{
    background-color: white;
    border-radius: 20px;
     display: inline-block;
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid 
    #3c67e3;
    border-radius: 10px;
    text-decoration: inherit;
    padding-left: 50px;
    padding-right: 40px;
    font-family: Helvetica Neue;

}





ul{
    text-align: center;
}


.timing{
    font-size: 23.5px;
}




  blockquote {
    /*
      All of the base styles have
      moved to the “CSS” tab above.
    */
    transition: transform 250ms;
  }

  blockquote:hover {
    transform: translateY(-10px);
  }
</style>
